<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121490044554-dihu5b4763d41fap4rqjbnub8e28bht6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121490044554-dihu5b4763d41fap4rqjbnub8e28bht6</string>
	<key>API_KEY</key>
	<string>AIzaSyCB2ymT7XaefA8flDha2NWm8ge78S94fnw</string>
	<key>GCM_SENDER_ID</key>
	<string>121490044554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minhasViagens</string>
	<key>PROJECT_ID</key>
	<string>minhasviagens-92f0b</string>
	<key>STORAGE_BUCKET</key>
	<string>minhasviagens-92f0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121490044554:ios:b677ad5d22c5def8135f73</string>
</dict>
</plist>